h2 { 
    background-color: transparent;
}

.home {
    width: 100%;
    margin: 40px;
}

.home h1 {
    font-size: 50px;
    text-align: center;
}

.home h2 {
    font-size: 30px;
    text-align: center;
}

.weekday li {
    list-style: none;
    display: inline-block;
}

.card {
    background-color: white;
}
