h2 { 
    background-color: transparent;
}

.home {
    width: 100%;
    margin: 40px;
}

.home h1 {
    font-size: 50px;
    text-align: center;
}

.home h2 {
    font-size: 30px;
    text-align: center;
}

/* .weekday {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap; 
} */

.weekday li {
    list-style: none;
}

.card {
    background-color: white;
}
