@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Patrick+Hand&display=swap');

* {
    background-color: rgb(121, 106, 124);
    font-family: 'Patrick Hand', cursive;
}

.App {
    display: flex;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

